{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Blog" %} - {% endblock %}


{% block main %}


    <div class="row titlerow">
        <div class="col-md-12">
            <h1 class="pagetitle">{% trans "Investigations" %}</h1>
        </div>
    </div>


     <div class="row bodyrow">
        <div class="col-md-8">
           {% for blog in blog_posts %}
           <div class="blogwrapper">
            <a href="{% url 'blog_detail' blog.url %}" title="{{ blog.title }}">
              {% if blog.main_image %}
                <img class="mainimage" src="{{ blog.main_image.url }}" width="200px" height="auto" />
              {% endif %}
                <h2>{{ blog.title }}</h2>

            </a>
            <p> {{ blog.short_description|safe }}</p>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>


{% endblock %}



{% block javascripts %}

  <script src="/static/mediaelement/mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="/static/mediaelement/mediaelementplayer.css" />
  <script>
  // using jQuery
  console.log("suuuuuppp");
  $('video,audio').mediaelementplayer(/* Options */);
  </script>

  <style type="text/css">
  .bodyrow{
    padding:1em;
  }

  .mainimage{
    float: right;
    margin: 2em;
    margin-left: 3em;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
  }

  .blogwrapper{
    overflow:hidden;
  }
  </style>


  {% endblock %}

