{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Violation Database" %} - {% endblock %}


{% block main %}


	<div class="row titlerow">
		<div class="col-md-12">
			<h1 class="pagetitle">{% trans "Violation Database" %}</h1>
		</div>
	</div>


	<div class="row database-table">
    <div class="col-md-3 filterrow">

     <form method="get" action="/database">


        {{ form.errors }}
        {{ form.non_field_errors }}

        <div class="filterfield">
          <div class="filterlabel">
            {% trans "Type of Violation" %}
          </div>
          {{ form.type_of_violation }}
        </div>
        <div class="filterfield">
          <div class="filterlabel">
            {% trans "Location" %}
          </div>
           {{form.location}}
        </div>
        <div class="filterfield">
          <div class="filterlabel">
            {% trans "From" %}
          </div>
          {{form.startDate}}
        </div>
        <div class="filterfield">
          <div class="filterlabel">
            {% trans "To" %}
          </div>
            {{form.endDate}}
        </div>


        <input type="submit" class="call-to-action" value="{% trans 'Filter' %}" />
      </form>

    </div>
		<div class="profile col-md-9  databasecol">

			<table id="database" class="table table-striped " cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Description" %}</th>
					<th>{% trans "Recording Date" %}</th>
					<th>{% trans "Location" %}</th>
					<th>{% trans "Type of Violation" %}</th>
				</tr>

			<thead>

			<tbody>
				{% for entry in entries %}


					<tr>

					<td>
						<a href="/database/{{entry.id}}" >{{entry.name}}</a>
					</td>
            		<td >
                  <div class="desc">
            			 {{entry.description}}
                  </div>
            		</td>
            		<td>
            			{{entry.recording_date|date:'d/m/Y'}}
            		</td>
            		<td>
            			{{ entry.location }}
            		</td>

            		<td>
                  {{ entry.type_of_violation }}
			</td>


					</tr>
				{% endfor %}
			<tbody>
			</table>

		</div>
	</div>

{% endblock %}


{% block javascripts %}


<style type="text/css">
	input{
		background-color: white;
		color: black;
	}
</style>
<link href="/static/components/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" media="screen">
{% ifequal LANGUAGE_CODE 'ar' %}
<script src="/static/components/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/components/bootstrap-datepicker/locales/bootstrap-datepicker.ar.min.js"></script>
{% else %}
<script src="/static/components/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
{% endifequal %}



<script type="text/javascript">
(function($){
	  $(document).ready(function(){
		$('.datepicker').datepicker({
	          format: 'dd/mm/yyyy',
	          autoclose : true,
	          todayBtn: true,
	          closeBtn: true,
	          weekStart: 1,
            language: "{{ LANGUAGE_CODE }}",
            {% ifequal LANGUAGE_CODE 'ar' %}
            rtl: true,
            {% endifequal %}

	      });

	});

}(jQuery));
</script>

<style type="text/css">

.datepicker.datepicker-rtl {
    right: auto !important;
}
  .databasecol{
    padding:0;
    font-size:.8em;
  }

  .filterfield{
    padding-top:1em;
    padding-bottom:1em;
  }

  .call-to-action{
    font-size:1.8em;
    border-radius:1em;
    border-style: solid;
    padding-top: 1em
    padding-bottom:1em;
    text-align: center;
  }

input{
    min-width:100%;
    background-color:#ACB4AC;
    color: white;
    border:none;
    font-weight: bold;
    border-bottom:2px solid white;
    background-color:rgba(255,255,255,.3);
  }

.select2-container{
  width:100%;
}



  .select2-container .select2-choice, .select2-drop, .select2-search input {
    color: white;
    background-color:#ACB4AC;
    background-image:none;
    background-image:none;
    font-weight: bold;
}

 .select2-container .select2-choice{
  background-color:rgba(255,255,255,.3);

 }

 .filterlabel{
  color:rgba(255,255,255,.8);
  font-size:1.1em;
 }

 .desc{
  max-width:30em;
 }


 .database-table, .filterrow{
  background-color: #ACB4AC;
 }

 .databasecol{
  background-color:#E7E5E4;
 }

</style>

{% endblock %}