{% extends "base.html" %}
{% load i18n %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block title %}{% trans "Violation Map" %} - {% endblock %}

{% block logo %}

{% endblock %}


{% block javascripts %}
  {% leaflet_js %}
  {% leaflet_css %}

  <link rel="stylesheet" href="/static/components/leaflet_marker_cluster/MarkerCluster.css" />
  <link rel="stylesheet" href="/static/components/leaflet_marker_cluster/MarkerCluster.Default.css" />
  <script src="/static/components/leaflet_marker_cluster/leaflet.markercluster-src.js"></script>

  <link href="/static/components/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" media="screen">
  <script src="/static/components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

  <style type="text/css">

    html, body, .container.main, .maprow{
      height: 100%;
    }
    div#incidents {
        height: 100%;
        padding-top:50px;
    }

    .leaflet-top{
      margin-top:50px;
    }

    .titlerow, .footer{
      position: fixed;
      bottom: 0;
      background-color:transparent;
      color:teal;
      z-index: 5000;
    }

    .logo{
      position: fixed;
      bottom: 1em;
      background-image: none;
      background-color:transparent;
    }

    .logo h1{
      background-color: transparent;
      color: orange;
    }

    .mapsidebar{
      position: fixed;
      height: 100%;
      width: 25%;
      /* overflow-y: scroll; */
      z-index: 2000;
      top: 0;
      background-color: #F5F5F4;
      right: 0;
      padding-top: 4em;
      box-shadow: 10px -1px 5px -10px rgba(0,0,0,0.3) inset;
      padding: 2em;
    }

    .navbar-main{
      z-index:6000;
    }

    .marker-cluster, .marker-cluster>div{
      background-color: rgba(253, 156, 115, 0.6) !important;
    }

  </style>
{% endblock %}

{% block main %}




    <script type="text/javascript">
      var collection = {{ qs_results|geojsonfeature|safe }};
      function map_init (map, options) {

            var dataurl = '{% url "incidents" %}';




            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {


                function onEachFeature(feature, layer) {
                  console.log("bind");
                  if (feature.properties && feature.properties.popupcontent) {
                    layer.bindPopup(feature.properties.popupcontent);
                  }
                }



                // $(".violation").click(function(e  ){
                //   vtype = $(self).attr('data-filter')
                //   $(".violation").removeClass('.active');
                //   $(this).addClass('active');
                //   markers.setFilter(function(f) {
                //       return f.properties['violation'] == 'vtype';
                //   });
                //   return false;


                // });


                var markers = L.markerClusterGroup();
                // Add GeoJSON layer
                var points = L.geoJson(data, {onEachFeature: onEachFeature})


                markers.addLayer(points);
                map.addLayer(markers);




            });

        }



      (function($){
        $(document).ready(function(){
        $('.datepicker').datepicker({
                format: 'dd M yyyy',
                autoclose : true,
                todayBtn: true,
                closeBtn: true,
                weekStart: 1,
            });

      });

    }(jQuery));

    </script>

  <div class="row maprow">

    {% leaflet_map "incidents" callback="window.map_init" %}

  </div>

  <div class="mapsidebar pagebody">


    <h3>{% trans "Map of Attacks in Syria" %}</h3>

    <p>{% trans "This is an interactive map documenting the violations in Syria. It's based on video evidence recorded by citizen reporters and activists. Click on the map to see the geolocation of the attacks and get details on each incident." %}</p>

    {% for violationtype in violationtypes %}
      <li><a href="?violation_type={{violationtype.id}}">{{violationtype}}</a></li>
    {% endfor %}

    <i><a class="pressrelease" href="/p/blog/CWpressrelease/">{% trans "Press Release of chemical weapons" %}</a></i>
    <i><a class="pressrelease" href="/p/blog/CWpressrelease/">{% trans "Press release of alleged civilian casualties from Russian attacks" %}</a></i>


  </div>


<!--   <div class="row titlerow">
    <div class="col-md-12">
      <h1 class="pagetitle">{% trans "Incident Map" %}</h1>
    </div>
  </div>

  <div class="logo">
<h1>{% trans "Syrian Archive" %}</h1>
</div>
 -->

{% endblock %}
